@model IEnumerable<testsite.Views.Judge.IndexViewModel>

@{
    ViewData["Title"] = "BLACKWACATE参加者選択画面";
}

<h2>BLACKWACATE参加者選択画面</h2>

<form asp-action="Index" method="get" class="form-inline">
    <div class="form-group">
        <label class="control-label">名前：</label>
            <input type="text" name="searchname" value="@ViewBag.SearchName" class="form-control"/>
    </div>
    <div class="form-group">
        <label class="control-label">名前カナ:</label>
        <input type="text" name="searchkana" value="@ViewBag.Searchkana" class="form-control"/>
    </div>
    <div class="form-group">
        <label class="control-label">会社:</label>
        <input type="text" name="searchoffice" value="@ViewBag.SearchOffice" class="form-control"/>
    </div>
        <input type="submit" value="検索"  class="btn btn-default"/>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameKana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAccept)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameKana)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Office)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobType)
                </td>
                <td>
                    @switch (item.IsAccept) {
                        case true:
                            <p>はい</p>
                            break;
                        case false:
                            <p>いいえ</p>
                            break;
                        default:
                            break;
                    }
                    </td>
    
                    <td>
    
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default">選択</a>
    
                    </td>
    
                </tr>
        }
    </tbody>
</table>
